body{
	margin: 0;
    background-image: url("img/blue.jpg");
}
footer{
    position: absolute;
    bottom: 0;
    width: 100%;
	font-family: 'Caveat Brush', cursive,'Arial Black',sans-serif;
	height: auto;
	background-color: rgba(225,230,255,1);
    text-align: center;
}
.contact{
	margin:10px;
}
.footlogo{
	display:flex;
	justify-content:center;
}
.footimg {
    margin-left: 30px;
	vertical-align:middle;
}
header{
    font-family: 'Caveat Brush', cursive,'Arial Black',sans-serif;
    font-weight: 700;
    vertical-align: middle;
	text-align:left;
	background-color: rgba(225,230,255,1);
    padding: 3px;
    padding-left: 20px;
    font-size: 40px;
}
.me{
    padding: 25px;
}
.text{
    font-family: 'Bree Serif', serif,'Tahoma',sans-serif;
    display:flex;
    background-color: white;
    width: 800px;
    margin: 27px auto 27px auto;
    border: 1px solid black;
}
section>h4 {
    margin-bottom:0;
    padding-bottom: 0;
}
section>p,footer>h3{
    margin: auto 0 10px auto;
}